######################################################################
##  cancel_keep_hot.cfg  -- PROPOSED (draft 2026-10-03)
##
##  Makes a cancelled print leave the printer READY FOR A RETRY:
##   - parks over the bucket instead of leaving the nozzle on the part
##   - retracts 1 mm instead of 5 mm
##   - re-heats bed to the print temp and nozzle to 150C (contact temp)
##     for 15 min, then turns everything off automatically
##
##  Works with Mainsail's stock CANCEL_PRINT via its _CLIENT_VARIABLE hook
##  (Mainsail turns heaters off, then calls user_cancel_macro -> _KEEP_HOT
##  turns them back on). Paired with PRINT_START v2, a retry within the
##  window skips homing, QGL and soak.
##
##  Install: copy to active_config/user/ and add to printer.cfg:
##    [include active_config/user/cancel_keep_hot.cfg]
##  Then FIRMWARE_RESTART.
##
##  Commands:  COOLDOWN          - heaters off + cancel the keep-hot timer
##             KEEP_HOT ENABLE=0 - turn the behaviour off (until restart)
######################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_cancel_retract   : 1.0    ; was 5.0 default
variable_park_at_cancel   : True
variable_park_at_cancel_x : 120.0  ; over the purge bucket
variable_park_at_cancel_y : 250.0
variable_user_cancel_macro: "_KEEP_HOT"
gcode:


[gcode_macro _KEEP_HOT_ARM]
## Called by PRINT_START: stop any pending shut-off, remember the bed temp
variable_bed: 0
gcode:
  UPDATE_DELAYED_GCODE ID=_KEEP_HOT_OFF DURATION=0
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT_ARM VARIABLE=bed VALUE={params.BED|default(0)|int}


[gcode_macro _KEEP_HOT]
## Called by Mainsail CANCEL_PRINT (after it turns heaters off)
variable_enabled: 1
variable_minutes: 15
gcode:
  {% set bed = printer["gcode_macro _KEEP_HOT_ARM"].bed|int %}
  {% set nozzle = printer["gcode_macro PRINT_START"].contact_temp|default(150)|int %}
  {% if enabled == 1 and bed > 0 %}
    M140 S{bed}
    M104 S{nozzle}
    UPDATE_DELAYED_GCODE ID=_KEEP_HOT_OFF DURATION={minutes * 60}
    M118 KEEP_HOT: bed {bed}C / nozzle {nozzle}C for {minutes} min. Restart the print to retry, or COOLDOWN.
  {% endif %}


[delayed_gcode _KEEP_HOT_OFF]
gcode:
  TURN_OFF_HEATERS
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT_ARM VARIABLE=bed VALUE=0
  M118 KEEP_HOT: timeout reached, heaters off


[gcode_macro KEEP_HOT]
description: Enable/disable keep-hot-on-cancel. KEEP_HOT ENABLE=0|1 [MINUTES=n]
gcode:
  {% set en = params.ENABLE|default(1)|int %}
  {% set mins = params.MINUTES|default(printer["gcode_macro _KEEP_HOT"].minutes)|int %}
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT VARIABLE=enabled VALUE={en}
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT VARIABLE=minutes VALUE={mins}
  M118 KEEP_HOT enabled={en} minutes={mins}


[gcode_macro COOLDOWN]
description: Heaters off and cancel any keep-hot timer
gcode:
  UPDATE_DELAYED_GCODE ID=_KEEP_HOT_OFF DURATION=0
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT_ARM VARIABLE=bed VALUE=0
  TURN_OFF_HEATERS
  M107
