######################################################################
##  G32 macro
######################################################################

[gcode_macro G32]
gcode:
  {% set park_enable = params.PARK|default(1)|int %}
  
  STATUS_HOMING              ; Set Toolhead LEDs to "homing"
  BED_MESH_CLEAR             ; Disable bed mesh for 
  G28                        ; Home XYZ
  STATUS_LEVELING            ; Set Toolhead LEDs to "leveling" for QGL
  QUAD_GANTRY_LEVEL          ; QGL
  STATUS_HOMING              ; Revert LEDs to homing for rehoming Z after QGL
  G28                        ; Re-home XYZ
  
  {% if park_enable == 1 %}
    PARK_REAR     ; Move Toolhead to back middle
  {% endif %}
  
  STATUS_READY               ; Set Toolhead LEDs to "ready" after level + homing is complete

######################################################################
##  PARK_REAR macro
######################################################################

[gcode_macro PARK_REAR]
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}  ;conditional home if not already
    G0 X125 Y250 Z30 F3600     ; Move Toolhead to back middle
  {% endif %}

  STATUS_READY               ; Set Toolhead LEDs to "ready" after level + homing is complete


######################################################################
##  _CG32 macro
######################################################################
[gcode_macro _CG32]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    G28
  {% endif %}


######################################################################
##  _CQGL macro
######################################################################
[gcode_macro _CQGL]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    G28
  {% endif %}
    




