######################################################################
######################################################################



######################################################################
##  PROBE // uncomment if removing beacon
######################################################################

#[probe]
#pin: PG15
#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3

######################################################################
##  QGL
######################################################################

[quad_gantry_level]
gantry_corners:
	-60,-10
	310, 320
points:
	50,25
	50,175
	200,175
	200,25

speed: 400
horizontal_move_z: 2
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

######################################################################
##  BED_MESH
######################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 2
mesh_min: 25, 25
mesh_max: 225,225
fade_start: 0.6
fade_end: 10.0
#probe_count: 31,31
probe_count: 9,9
adaptive_margin: 5
algorithm: bicubic
zero_reference_position: 125.00, 125.00


######################################################################
##  SAFE_Z_HOME - for Omron style probe
######################################################################

#[safe_z_home]
#home_xy_position: 180,255
#speed: 100
#z_hop: 5

######################################################################
##  SAFE_Z_HOME - for BEACON
######################################################################

#[safe_z_home]
#home_xy_position: 125, 125
#z_hop: 3

######################################################################
##  OTHER DEPENDENCIES
######################################################################

[exclude_object]



