## Config for LED setup and related Macros

######################################################################
##  Case LEDs
######################################################################

[neopixel case_lighting]

pin: PB6
chain_count: 21
color_order: GRB

initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

##--------------------------------------------------------------------
##  Case LED Macros
##--------------------------------------------------------------------

[gcode_macro case_lights_white]
gcode:
    {% for i in range( 1, 21 ) %} # note that 1, 21 is = (1, 2...20) (and not 21)
        SET_LED LED=case_lighting RED=1 GREEN=1 BLUE=1 INDEX={i} TRANSMIT=0
    {% endfor %}
        SET_LED LED=case_lighting RED=1 GREEN=1 BLUE=1 INDEX=21 TRANSMIT=1

[gcode_macro case_lights_off]
gcode:
    {% for i in range( 1, 21 ) %} # note that 1, 21 is = (1, 2...20) (and not 21)
        SET_LED LED=case_lighting RED=0 GREEN=0 BLUE=0 INDEX={i} TRANSMIT=0
    {% endfor %}
        SET_LED LED=case_lighting RED=0 GREEN=0 BLUE=0 INDEX=21 TRANSMIT=1

[gcode_macro case_lights_night]
gcode:
    {% for i in range( 1, 21 ) %} # note that 1, 21 is = (1, 2...20) (and not 21)
        SET_LED LED=case_lighting RED=0.01 GREEN=0 BLUE=0 INDEX={i} TRANSMIT=0
    {% endfor %}
        SET_LED LED=case_lighting RED=0.01 GREEN=0 BLUE=0 INDEX=21 TRANSMIT=1
