#####################################################################
##   BUCKET_PURGE macro
#####################################################################  

[gcode_macro BUCKET_PURGE]
variable_purge_x: 120
variable_purge_y: 255
variable_purge_z: 8
variable_purge_length: 10

gcode:
  STATUS_CLEANING
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    G28
  {% endif %}

  G90                                                ; absolute positioning
  G92 E0                                             ; reset extruder
  {% if printer.extruder.temperature > 200.0 %}      ; only purge if toolhead is over 200c
    G1 X{purge_x} Y{purge_y} F6000                   ; move to purge XY location
    G1 Z{purge_z} F1500                              ; move gantry to purge_z height
    G1 E{purge_length}                               ; extrude into bucket
    G92 E0                                           ; reset extruder
  {% else %}
    M118 "temperature too low!"
  {% endif %}

#####################################################################
##   _PURGE_LINE macro
#####################################################################   

[gcode_macro _PURGE_LINE]
gcode:
  G1 Z2.0 F3000                    ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X1 Y20 Z0.3 F5000.0         ; Move to start position
  G1 E11.0 F3600  
  G1 X1 Y200.0 Z0.3 F1500.0 E15  ; Draw the first line
  G1 X1.3 Y200.0 Z0.3 F5000.0      ; Move to side a little
  G1 X1.3 Y20 Z0.3 F1500.0 E30     ; Draw the second line
  G92 E0                           ; Reset Extruder
  G1 Z2.0 F3000                    ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X5 Y20 Z0.3 F5000.0           ; Move over to prevent blob squish
  G1 F2700 E-0.2

#####################################################################
##   CLEAN_NOZZLE macro
#####################################################################    
[gcode_macro CLEAN_NOZZLE]
variable_start_x: 105
variable_start_y: 253
variable_start_z: 2
variable_wipe_dist: -50
variable_wipe_qty: 3
variable_wipe_spd: 200
variable_raise_distance: 3

gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    STATUS_HOMING
    G28
  {% endif %}
  STATUS_CLEANING
  G90                                                ; absolute positioning
  G1 X{start_x} Y{start_y} F6000                     ; move to start XY coordinate
  G1 Z{start_z} F1500                                ; move to proper z height 

  {% for wipes in range(1, (wipe_qty + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
  {% endfor %}
  
  G1 Z{raise_distance}

#####################################################################
##   CLEAN_NOZZLE macro
#####################################################################    
[gcode_macro CLEAN_NOZZLE_WIPES]
variable_start_x: 105
variable_start_y: 253
variable_start_z: 1
variable_wipe_dist: -50
variable_wipe_qty: 2
variable_wipe_spd: 200
variable_raise_distance: 5

gcode:
  {% set wipes = params.WIPES|int %}
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    STATUS_HOMING
    G28
  {% endif %}
  STATUS_CLEANING
  G90                                                ; absolute positioning
  G1 X{start_x} Y{start_y} F6000                     ; move to start XY coordinate
  G1 Z{start_z} F1500                                ; move to proper z height 

  {% for passes in range(1, (wipes + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
  {% endfor %}
  
  G1 Z{raise_distance}  


#####################################################################
##   dynamic_clean macro
#####################################################################    
[gcode_macro dynamic_clean]
variable_start_x: 105
variable_start_y: 253
variable_start_z: 1
variable_wipe_dist: -50
variable_wipe_qty: 2
variable_wipe_spd: 200
variable_raise_distance: 5

gcode:
  {% set wipes = params.WIPES|default(1)|int %}
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    STATUS_HOMING
    G28
  {% endif %}
  STATUS_CLEANING
  G90                                                ; absolute positioning
  G1 X{start_x} Y{start_y} F6000                     ; move to start XY coordinate
  G1 Z{start_z} F1500                                ; move to proper z height 

  {% for passes in range(1, (wipes + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_spd * 60}
    G1 Y{start_y - 1} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    G1 Y{start_y + 1} F{wipe_spd * 60}
  {% endfor %}
  
  G1 Z{raise_distance}  



#####################################################################
##   _TEMP_BUCKET_PURGE macro
#####################################################################  

[gcode_macro _TEMP_BUCKET_PURGE]
variable_purge_x: 120
variable_purge_y: 255
variable_purge_z: 10
variable_purge_length: 20

gcode:
  STATUS_CLEANING
  {% if "xyz" not in printer.toolhead.homed_axes %}  ;conditional home if not already
    G28
  {% endif %}

  G90                                                ; absolute positioning
  G92 E0                                             ; reset extruder
  G0 X{purge_x} Y{purge_y} F6000                     ; move to purge XY location
  G0 Z{purge_z} F1500                                ; move gantry to purge_z height
  M83 E
  G1 E{purge_length}  F400                           ; extrude into bucket
  G4 P3000                                           ; delay 3 sec to allow pressure to normalize?
  G1 E-10 F600
  G4 P3000
  G92 E0

#####################################################################
##   _purge_clean macro
##################################################################### 

[gcode_macro _PURGE_CLEAN]
gcode:
  _TEMP_BUCKET_PURGE
  dynamic_clean WIPES=1
  G90
  G92 E0
  G1 E-5 F500
  G92 E0
  G4 P5000 
  dynamic_clean WIPES=2
  