######################################################################
##  macros/utility.cfg  --  everyday commands (show up as buttons in
##  Mainsail's Macros panel; names starting with _ are hidden)
######################################################################


##--------------------------------------------------------------------
##  G32 -- the classic Voron "home, level, home Z" routine
##  CHANGED: the second full G28 is now just a Z home (X/Y don't move
##  during QGL, so re-homing them was wasted time).
##--------------------------------------------------------------------
[gcode_macro G32]
description: Home, QGL, re-home Z. G32 PARK=0 to stay put.
gcode:
  {% set park = params.PARK|default(1)|int %}
  BED_MESH_CLEAR
  STATUS_HOMING
  G28
  STATUS_LEVELING
  QUAD_GANTRY_LEVEL
  STATUS_HOMING
  G28 Z
  {% if park == 1 %}
    PARK_REAR
  {% endif %}
  STATUS_READY


##--------------------------------------------------------------------
##  PARK_REAR -- toolhead to back-centre, out of your way
##--------------------------------------------------------------------
[gcode_macro PARK_REAR]
description: Move the toolhead to rear-centre (Z at least 30)
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    {% set z = [printer.toolhead.position.z, 30]|max %}
    G90
    G0 Z{z} F1500
    G0 X125 Y250 F12000
  {% else %}
    M118 PARK_REAR: not homed
  {% endif %}
  STATUS_READY


##--------------------------------------------------------------------
##  PARK_FRONT -- toolhead to front-centre, handy for nozzle checks
##  NICE-TO-HAVE (new)
##--------------------------------------------------------------------
[gcode_macro PARK_FRONT]
description: Move the toolhead to front-centre at Z50 for inspection
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    {% set z = [printer.toolhead.position.z, 50]|max %}
    G90
    G0 Z{z} F1500
    G0 X125 Y20 F12000
  {% else %}
    M118 PARK_FRONT: not homed
  {% endif %}


##--------------------------------------------------------------------
##  PREHEAT -- warm up (and optionally heat-soak) before you even slice
##  NICE-TO-HAVE (new). Kick this off while you're slicing; when you hit
##  print, PRINT_START finds the bed already hot. Example: PREHEAT BED=105
##  Note: on the first print of a session PRINT_START still runs its
##  10-minute soak. If the machine has already been preheating that long,
##  start that print with SOAK=0 (Mainsail console:
##  "SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=auto_soak_min VALUE=0"
##  works too, until the next restart).
##--------------------------------------------------------------------
[gcode_macro PREHEAT]
description: Heat bed (and nozzle to 150). PREHEAT BED=105
gcode:
  {% set bed = params.BED|default(105)|int %}
  STATUS_HEATING
  M140 S{bed}
  M104 S{printer["gcode_macro PRINT_START"].contact_temp}
  _EXHAUST MODE=print BED={bed}
  M118 PREHEAT: bed -> {bed}C, nozzle -> 150C


##--------------------------------------------------------------------
##  COOLDOWN -- everything off (also cancels the keep-hot timer)
##--------------------------------------------------------------------
[gcode_macro COOLDOWN]
description: Heaters off, part fan off, cancel keep-hot timer
gcode:
  UPDATE_DELAYED_GCODE ID=_KEEP_HOT_OFF DURATION=0
  SET_GCODE_VARIABLE MACRO=_KEEP_HOT_ARM VARIABLE=bed VALUE=0
  TURN_OFF_HEATERS
  M107
  STATUS_READY


##--------------------------------------------------------------------
##  LOAD_FILAMENT / UNLOAD_FILAMENT  -- NICE-TO-HAVE (new)
##  Heats if needed (default 240C), then feeds / pulls filament.
##  UNLOAD does a small push first, then a fast pull, which forms a neat
##  tip instead of a stringy blob that jams on the way out.
##--------------------------------------------------------------------
[gcode_macro LOAD_FILAMENT]
description: Heat and load filament. LOAD_FILAMENT TEMP=240
gcode:
  {% set temp = params.TEMP|default(240)|int %}
  SAVE_GCODE_STATE NAME=load_state
  STATUS_HEATING
  M109 S{temp}
  STATUS_BUSY
  M83
  G1 E50 F600                    # through the extruder gears and down the hotend
  G1 E30 F300                    # slowly through the melt zone
  G1 E-0.5 F1800
  RESTORE_GCODE_STATE NAME=load_state
  STATUS_READY

[gcode_macro UNLOAD_FILAMENT]
description: Heat and unload filament. UNLOAD_FILAMENT TEMP=240
gcode:
  {% set temp = params.TEMP|default(240)|int %}
  SAVE_GCODE_STATE NAME=unload_state
  STATUS_HEATING
  M109 S{temp}
  STATUS_BUSY
  M83
  G1 E5 F300                     # small push to soften the tip
  G1 E-15 F3600                  # fast pull: snaps a clean tip
  G4 P2000
  G1 E-80 F1800                  # all the way out of the extruder
  RESTORE_GCODE_STATE NAME=unload_state
  STATUS_READY


##--------------------------------------------------------------------
##  M600 -- filament change (Orca can insert this at a layer for colour
##  swaps). Uses Mainsail's PAUSE, parks at the front so you can reach
##  the toolhead; RESUME continues.  NICE-TO-HAVE (new)
##--------------------------------------------------------------------
[gcode_macro M600]
description: Filament change - pauses at the front
gcode:
  PAUSE X=125 Y=20 Z_MIN=50
  M118 M600: unload / load filament, then press RESUME
