######################################################################
##  hardware/sensors.cfg  --  extra temperature readouts
##
##  NICE-TO-HAVE (new). These only DISPLAY temperatures in Mainsail
##  (and log them) - they don't control anything. Handy for spotting an
##  overheating Pi or board, and they cost nothing.
######################################################################

[temperature_sensor octopus]
## The STM32 chip's internal sensor on the Octopus.
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
## The Pi's CPU temperature.
sensor_type: temperature_host
min_temp: 0
max_temp: 100


######################################################################
##  CHAMBER THERMISTOR  (template - not active)
##
##  RECOMMENDED UPGRADE: a ~$2 NTC 100K thermistor hanging mid-chamber,
##  wired to a free Octopus thermistor port (T1 = PF5, T2 = PF6, T3 = PF7).
##  Then PRINT_START can wait for a REAL chamber temperature instead of
##  a fixed number of soak minutes (usually faster, always more
##  consistent). Uncomment, set the pin, FIRMWARE_RESTART, and set
##  variable_chamber_target in macros/print_start_end.cfg.
######################################################################
#[temperature_sensor chamber]
#sensor_type: Generic 3950
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: C
